@{
    ViewBag.Title = "Services";
}
<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url(~/Theme/assets/img-temp/1920x800/img11.jpg);"></div>
    <!-- End Parallax Image -->
    <!-- Promo Block Content -->
    <div class="container g-color-white text-center g-py-150">
        <h2 class="h3 text-uppercase mb-2">Our services</h2>
        <p class="g-font-weight-600 g-font-size-40 text-uppercase">Creative freedom matters</p>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->
<!-- Icon Blocks v13 -->
<section class="container g-pt-100 g-pb-70">
    <!-- Icon Blocks -->
    <div class="row">
        <div class="col-lg-4 g-mb-30">
            <!-- Icon Blocks -->
            <div class="media">
                <div class="d-flex mr-4">
                    <span class="u-icon-v2 u-icon-size--sm g-color-primary rounded-circle">
                        <i class="icon-education-087 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5 g-color-black mb-20">Creative ideas</h3>
                    <p class="g-color-gray-dark-v4">We strive to embrace inovation and technology.</p>
                    <a class="g-font-size-12 g-text-underline--none--hover text-uppercase" href="@Url.Action("Contact","Home")">Contact Us Now</a>
                </div>
            </div>
            <!-- End Icon Blocks -->
        </div>
        <div class="col-lg-4 g-mb-30">
            <!-- Icon Blocks -->
            <div class="media">
                <div class="d-flex mr-4">
                    <span class="u-icon-v2 u-icon-size--sm g-color-primary rounded-circle">
                        <i class="icon-education-035 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5 g-color-black mb-20">Natural features</h3>
                    <p class="g-color-gray-dark-v4">We strive to embrace design which are naturally inspired.</p>
                    <a class="g-font-size-12 g-text-underline--none--hover text-uppercase" href="@Url.Action("Contact","Home")">Contact Us Now</a>
                </div>
            </div>
            <!-- End Icon Blocks -->
        </div>
        <div class="col-lg-4 g-mb-30">
            <!-- Icon Blocks -->
            <div class="media">
                <div class="d-flex mr-4">
                    <span class="u-icon-v2 u-icon-size--sm g-color-primary rounded-circle">
                        <i class="icon-education-141 u-line-icon-pro"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h3 class="h5 g-color-black mb-20">Fully supported</h3>
                    <p class="g-color-gray-dark-v4">We strive to meet your needs by your schedule.</p>
                    <a class="g-font-size-12 g-text-underline--none--hover text-uppercase" href="@Url.Action("Contact","Home")">Contact Us Now</a>
                </div>
            </div>
            <!-- End Icon Blocks -->
        </div>
    </div>
    <!-- End Icon Blocks -->
</section>
<!-- End Icon Blocks v13 -->
<section class="g-bg-secondary">
    <div class="container g-pt-100 g-pb-40">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">Our process</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">We follow the standard SDLC, keep it simple.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>
        <!-- Static Process -->
        <div class="row">
            <div class="col-sm-6 col-lg-3 g-mb-60">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-transparent--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Consult</h3>
                    <p class="mb-0">This is where we sit down, with detail discussions with you and your needs.</p>
                </div>
                <!-- End Static Process -->
            </div>
            <div class="col-sm-6 col-lg-3 g-mb-60">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Plan</h3>
                    <p class="mb-0">Now that we know your needs and values, we plan and design a solution. Proof of concept</p>
                </div>
                <!-- End Static Process -->
            </div>
            <div class="col-sm-6 col-lg-3 g-mb-60">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Create</h3>
                    <p class="mb-0">This is where leverage Microsofts ASP.Net MVC and Sql Server.</p>
                </div>
                <!-- End Static Process -->
            </div>
            <div class="col-sm-6 col-lg-3 g-mb-60">
                <!-- Static Process -->
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-transparent--after g-mb-20">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                    <h3 class="h5 g-color-black mb-20">Release</h3>
                    <p class="mb-0">This is where you get to touch and feel the solution and we make work to together for the final solution.</p>
                </div>
                <!-- End Static Process -->
            </div>
        </div>
        <!-- End Static Process -->
    </div>
</section>
<!-- Section -->
<section class="container g-pt-100 g-pb-40">
    <div class="row">
        <div class="col-lg-6 align-self-center g-mb-60">
            <img class="img-fluid" src="~/Theme/assets/img-temp/600x400/img1.png" alt="Image Description">
        </div>
        <div class="col-lg-6 align-self-center g-mb-60">
            <div class="mb-2">
                <h2 class="h3 g-color-black text-uppercase mb-2">We are a creative agency</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <div class="mb-5">
                <p class="mb-5">We are an ambitious, detailed oreinated, technology driven with an artistic flare company, firmly grounded to simple natural solutions.</p>
                <ul class="list-unstyled g-font-size-13 mb-0">
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        We do one thing and do it to the best of our abilities.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        We have extensive experiance in Information Technology over 25 years.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        We believe there is always a better way and strive for excellence.
                    </li>
                    <li>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                        You are the most important aspect of the project and you determine our goals and our success.
                    </li>
                </ul>
            </div>
            @*<a class="btn btn-md u-btn-outline-black g-font-size-default g-rounded-50 g-py-10 mr-2" href="#!">Explore more</a>*@
            <a class="btn btn-md u-btn-primary g-font-size-default g-rounded-50 g-py-10" href="@Url.Action("Contact","Home")">Contact Us Now</a>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- Icon Blocks -->
@*<section class="g-bg-secondary">
    <div class="container g-pt-100 g-pb-40">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h3 g-color-black text-uppercase mb-2">Our services</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-0">We are a creative person focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                </div>
                <!-- End Heading -->
            </div>
        </div>
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-lg-4 align-self-center g-mb-30">
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                            <i class="icon-education-087 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Creative ideas</h3>
                        <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                            <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Excellent features</h3>
                        <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-lg-4 align-self-center g-mb-30">
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                            <i class="icon-finance-256 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Clean code</h3>
                        <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                            <i class="icon-finance-009 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Modern design</h3>
                        <p class="g-color-gray-dark-v4">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-lg-4 align-self-center g-mb-30">
                <div class="g-px-10">
                    <img class="img-fluid" src="../../assets/img-temp/900x700/img1.png" alt="Image Description">
                </div>
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>*@
<!-- End Icon Blocks -->
